html, body {
    font-family: sans-serif;
}

body {
    display: flex; 

    /* width: 800px; */
    /* margin: 0 auto; */
  }

  .Main {
    max-width: 800px;
    margin: 0;
    flex: 1; 
}

  .Contents {
    width: 200px;
    text-align: left;
    margin-right: 20px;
    margin-top: 20px;
  }

  .LocalImages {
    float: right;
    width: 200px; /* Fixed width for the contents section */
    margin-left: 20px; /* Optional: to add spacing between Contents and Main */
    text-align: right;
}

h2 {
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif Pro', serif;
}