@media screen and (max-width: 1000px){
    body{
        background-color: aquamarine;
    }
    h1{
        color: brown; 
    }
    ul{
        flex-direction: column;
    }
    li{
        padding: 10px 00px;
    }
}

body{
    margin: 0;
}
ul{
    list-style: none; 
    display: flex;
    background-color: black;
    margin: 0;
    padding: 15px 0px; 
    justify-content: flex-end;
}

li a{
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    transition: color 0.4s, font-size 1s;

}

li a:hover{
    background-color: darkblue;
    color:yellow; 
    font-size: 20px;
}

li a:active{
    background-color: white;
    color:black; 
}